
    <%= render 'errors' %>

    
    <div class="create_card">


    <%= form_with(model: @article, local: true) do |f| %>

        <div class="labeldiv"> 
            <%= f.label :title %>
            <br>
            <%= f.text_field :title %>
        </div>

        <div class="labeldiv">
            <%= f.label :description %>
            <br>
            <%= f.text_area :description %>
        </div>

        <div class="labeldiv" id="submitdiv">
            <%= f.submit %>
        </div>

    <% end %>

    </div>