<div class="container"> 




    <div class="articles_list">

     

        <div class="article_title">
            <div id="create" > 
                <div> <%= link_to 'Create!', new_article_path %>  </div>
            </div> 
            <h1> Listing all articles</h1>
        </div>

        

       

            <div class="card_list">


                    <% @articles.each do |article| %>

                    <div class="card">

                        <div class="user_section">
                           <h3> by <%= article.user.username if article.user %> </h4>
                         </div>

                        <div class="article_section">

                            <h2> <%= article.title %> </h2>
                            <h3> <%= article.description %> </h3>

                            <div class="control_section">
                    
                               <div> <%= link_to 'View', article_path(article) %>  </div> 
                               <div> <%= link_to 'Edit', edit_article_path(article) %> </div>
                               <div> <%= link_to 'Delete', article_path(article), method: :delete %> </div>
                            </div>

                            <div class="hour_section">
                                <h4>  Created about <%= time_ago_in_words(article.created_at) %>  ago, edited about <%= time_ago_in_words(article.updated_at) %>  ago</h4>
                            </div>

                        </div>

   




                    </div>

                           
                    <% end %>


            </div>

            <%= will_paginate @articles %> 

    </div>

</div>

