<%= render 'layouts/messages' %>

<div class="container"> 

    <div class="articles_list">


            <div class="article_title">
            <h1> Showing user details! </h1>
            </div>

            <div class="card_list">

            <%= gravatar_for @user, size: 200 %>



                <div class="card">

                    <div class="user_section">
                    <h3> <%= @user.username %> </h3>
                     <h3>  <%= @user.email %> </h3>
                    </div>

                    <div class="article_section">



                         <% @user.articles.each do |article| %> 


                         <h2> <%= article.title %> </h2>

                         <p> <%= article.description %> </p>


                         <% end %>

                   
                    </div>

                    <div class="control_section">

                        <div> <%= link_to 'Edit', edit_user_path(@user) %> </div>

                        <div> <%= link_to 'Delete', user_path(@user), method: :delete, data: { confirm: "are you sure?" } %> </div>

                    </div>

                    <div class="hour_section">
                        <h4>  Created about <%= time_ago_in_words(@user.created_at) %>ago, edited about <%= time_ago_in_words(@user.updated_at) %> ago</h4>
                    </div>



            </div>

       




    </div>

        <div class="back">
            <div> 
            <%= link_to 'Back', users_path %> 
            </div>
        </div> 

    </div>

</div>